<form method="POST" action="/login">
    {{ form.csrf_token }}
    <div>{{form.username.label}}:{{form.username()}}</div>
    <div>{{form.password.label}}:{{form.password()}}</div>
    <div>{{form.remember.label}}:{{form.remember()}}</div>
    <button type="submit">Log in</button>
</form>
